@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

header {
    background-color: black;
    padding: 8px;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    position: sticky;
}

header h1 {
    font-size: 1.9rem;
    text-align: center;
    color: white;
}



/* Estlização do botão do whatsapp */
.whatsapp {
    position: relative; /*Permite que elementos posicionados dentro da classe sejam posicionados em relação a ela*/
  }
  
  .whatsapp img {
     position: fixed; /*mantém a imagem em uma posição fixa na tela, mesmo ao rolar a página*/
     bottom: 20px; /*Define a distância da imagem em relação à parte inferior da tela*/
     right: 20px; /*Define a distância da imagem em relação à direita da tela*/
     width: 3.8rem; /*Define a largura da imagem como 5 unidades de rem (relativas ao tamanho da fonte)*/
     height: auto; /*Ajusta a altura da imagem automaticamente para manter a proporção*/
  }
  
 
/* Aqui é a estilização do nosso logo */
.div01 img {
    width: 18rem;
    height: 18rem;
}
.section01 {
  padding: min(5vh, 3rem);
  background-color: black;
} 

.section01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.section01 .div01 i {
    font-size: 1.2rem;
    margin-top: 50px;
    color: white;
}

.section01 h3 {
    font-size: 1.5em;
    color: white;
}


.section01 p {
    font-size: 1em;
    margin-top: 15px;
    color: white;
}


/* estilização do botão da primeira sessão */
.div01 button {
    height: 40px;
    width: 10rem;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: purple;
    margin-top: 10px;
}
 .div01 button a {
    color: white;
    width: 200px; /*Largura do botão*/
    height: 50px; /*Altura do botão*/
    border-radius: 50px; /*Arredondamento da borda*/
    border-color: white; /*Cor da borda*/
}

.lista-nãoordenada {
    display: flex;
    justify-content: start;
    align-items: start;
}

.lista-nãoordenada li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    margin-left: 20px;
}

.lista-nãoordenada li a:hover {
    color: purple;
    text-decoration: overline 2px white;
    transition: 1s; 
}


 #section-01 .div02 img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
 }
 /* Finalizando a estilização da primeira sessão */





 /* Estilo do container do carrossel */
 .carousel-container {
    overflow: hidden; /*Esconde partes das imagens que saem do container*/
    width: 100%; /*O container ocupa toda a largura da página*/
    max-width: 800px; /*Largura máxima para limitar em telas maiores*/
    margin: auto; /*Centraliza o container*/
 }

 /* Estilo da faixa das imagens */

 .carousel-track {
    display: flex; /*Coloca as imagens lado a lado em linha*/
    transition: transform 0.5s ease; /*Animação suave para a transição*/
 }

 /* Cada item do carrossel */
 .carousel-item {
    flex: 0 0 100%; /*Cada item ocupa 100% da largura do container*/
 }

 

  #section2 {
    background-color: black;
    padding: min(3vh, 1.6rem);
    width: 100%;
    flex-wrap: wrap;
 } 




 .carousel-item {
    flex: 0 0 100%; /*Cada item ocupa 100% da largura do container*/
 }

 .carousel-item img {
    width: 100%; /*As imagens ocupam toda a largura do item*/
    display: block; /*Garante que não haja espaçamento abaixo das imagens*/
    transition: 0.9s;
 }

 .section-02 .div-hp {
    text-align: center;
 }

.section-02 h2 {
    font-size: 1.8rem;
    color: white;
}

.section-02 p {
    color: white;
    font-size: 0.8em;
}



 
/* Estilazamos nossa terceira sessão */

.section03 {
    background-color: rgb(0, 0, 0);
    padding: 200px; /*Preenchimento a sessão*/
    display: flex; /*Tornando flex*/
    justify-content: space-evenly; /*Alinhamento na horizontal*/
    align-items: center; /*Alinhamento vertical*/
    gap: 22px;
}

.div3 p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px; /*Espaçamento inferior*/
    font-weight: 300;
}


.section03 button {
    height: 40px;
    width: 10rem;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: purple;
    margin-top: 10px;
}


.div3 a button {
    color: white;
    width: 200px; /*Largura do botão*/
    height: 50px; /*Altura do botão*/
    border-radius: 50px; /*Arredondamento da borda*/
    border-color: white; /*Cor da borda*/
}

.div3 a button:hover {
    background-color: black; /*Alterando a cor de fundo*/
    color: white; /*Cor da letra ao passar o mouse*/
    border-color: white; /*Cor da borda ao passa o mouse*/
    transition: 0.8s; /*tempo de transicão*/
}

.div4 img {
  width: 350px; /**/
  height: 500px; /**/
  margin-left: 20px; /*Espaçamento a esquerda*/
  border-radius: 10px;
}




/* Aqui estamos começando a estilização da nossa quarta sessão */

.section04 {
    background-color: rgb(0, 0, 0);
    padding: 200px; /*Preenchimento a sessão*/
    display: flex; /*Tornando flex*/
    justify-content: space-evenly; /*Alinhamento na horizontal*/
    align-items: center; /*Alinhamento vertical*/  
    gap: 25px;
}

 .div6 p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px; /*Espaçamento inferior*/
    font-weight: 300;
    
 }


 .section04 button  {
    height: 40px;
    width: 10rem;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: purple;
    margin-top: 10px;
 }

.div6 a button {
    color: white;
    width: 200px; /*Largura do botão*/
    height: 50px; /*Altura do botão*/
    border-radius: 50px; /*Arredondamento da borda*/
    border-color: white; /*Cor da borda*/ 
}

.div6 a button:hover {
    background-color: black; /*Alterando a cor de fundo*/
    color: white; /*Cor da letra ao passar o mouse*/
    border-color: white; /*Cor da borda ao passa o mouse*/
    transition: 0.8s; /*tempo de transicão*/
}


.div5 img {
    width: 350px; /**/
    height: 500px; /**/
    margin-right: 25px; /*Espaçamento a esquerda*/
    border-radius: 10px;
  }







footer {
    padding: 150px;
    background: linear-gradient(180deg,  rgb(3, 3, 3) 8.33%, rgb(0, 0, 0) 100%);
    display: block;
}
 footer .text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
 }

 footer h1 {
    font-size: 1.4em;
    color: white;
 }

 footer span {
    font-size: 0.8em;
    color: white;
 }


footer .inputs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px;
    flex-wrap: wrap;
    font-weight: 300;
} 


footer button {
    height: 30px;
    width: 6rem;
    font-size: 15px;
    border-radius: 4px;
    color: black;
    background-color: white;
    margin-top: 10px;
    font-weight: 300p;
}

footer .div-fim {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.div-fim p {
    font-size: 1.5rem;
    color: white;
}

footer .div-fim p i {
    display: block;
    text-align: center;
}
 

footer i {
  color: purple;
  font-size: 1.3em;
  margin: 30px;
}

footer i:hover {
    color: white;
    transition: 1s;
} 
 















/* Media Queries para diferentes dispositivos */

/* Dispositivos com telas grandes (Desktops) */
@media (max-width: 834px) {
    header h1 {
        font-size: 1.7rem;
    }


    .section01 h3 {
        font-size: 1.3em;
    }

    .lista-nãoordenada li a {
        display: block;
    }

    .section03, .section04 {
        padding: 80px;
    }

}



/* Dispositivos médios (Tablets e dispositivos intermediários) */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    .div01 img {
        width: 12rem;
        height: 12rem;
    }
    .section01 {
        padding: 60px;
        flex-direction: column;
    }


    .section01 h3 {
        font-size: 1.2em;
    }

    .section03, .section04 {
        padding: 60px;
        flex-direction: column;
    }

    .div3 p, .div6 p {
        font-size: 18px;
    }


    .div3 a button, .div6 a button {
        width: 100%;
    }



    footer .lista-nãoordenada li a {
       display: block;
    }

    footer {
        padding: 60px;
    }
    
    .div-fim p {
        font-size: 16px;
    }

    footer i {
        font-size: 1.8em;
        margin: 40px;
    }
    .div01 button {
        width: 100%;
    }

}

/* Dispositivos pequenos (Smartphones e telas pequenas) */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }

    .div01 img {
        width: 100%;
        height: auto;
    }

    .section01 h3 p {
      display: block;
    }

    .section01 h3 {
        font-size: 1em;
    }

    .section01 p {
        font-size: 0.8em;
    }


    .section01 {
        padding: 40px;
        flex-direction: column;
    }

    .section01 .lista-nãoordenada li a {
       flex-direction: column;
        font-size: 0.8em;
    }

    .section-02 h2 {
        font-size: 1em;
    }

    .section03, .section04 {
        padding: 40px;
        flex-direction: column;
    }

    .div3 p, .div6 p {
        font-size: 15px;
    }

    footer {
        padding: 30px;
    }

    footer .text {
        text-align: center;
        font-size: 1em;
    }

    footer .lista-nãoordenada {
        display: none;
    }

    footer .div-fim p {
      font-size: 15px;
      text-align: center;
    }
    footer i {
        font-size: 1.5rem;
        margin: 18px;
        text-align: center;
    }
} 


