@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

header {
    background-color: black;
    padding: 8px;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    position: sticky;
}

header h1 {
    font-size: 1.9rem;
    text-align: center;
    color: white;
}

 
/* Aqui é a estilização do nosso logo */
.div01 img {
    width: 15rem;
    height: 15rem;
}
.section01 {
  padding: min(5vh, 3rem);
  background-color: black;
} 

.section01 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.section01 .div01 i {
    font-size: 1.2rem;
    margin-top: 50px;
    color: white;
}

.section01 h3 {
    font-size: 1.5em;
    color: white;
}


.section01 p {
    font-size: 1em;
    margin-top: 15px;
    color: white;
}


.section01 button {
    height: 40px;
    width: 10rem;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: purple;
    margin-top: 10px;
}

.section01 button a {
    color: white;
}

.lista-nãoordenada {
    display: flex;
    justify-content: start;
    align-items: start;
}

.lista-nãoordenada li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    margin-left: 20px;
}

.lista-nãoordenada li a:hover {
    color: purple;
    text-decoration: overline 2px white;
    transition: 1s; 
}


 #section-01 .div02 img {
    width: 300px;
    height: 550px;
 }
 /* Finalizando a estilização da primeira sessão */





 /* Estilo do container do carrossel */
 .carousel-container {
    overflow: hidden; /*Esconde partes das imagens que saem do container*/
    width: 100%; /*O container ocupa toda a largura da página*/
    max-width: 800px; /*Largura máxima para limitar em telas maiores*/
    margin: auto; /*Centraliza o container*/
 }

 /* Estilo da faixa das imagens */

 .carousel-track {
    display: flex; /*Coloca as imagens lado a lado em linha*/
    transition: transform 0.5s ease; /*Animação suave para a transição*/
 }

 /* Cada item do carrossel */
 .carousel-item {
    flex: 0 0 100%; /*Cada item ocupa 100% da largura do container*/
 }

 

  #section2 {
    background-color: black;
    padding: min(3vh, 1.6rem);
    width: 100%;
    flex-wrap: wrap;
 } 




 .carousel-item {
    flex: 0 0 100%; /*Cada item ocupa 100% da largura do container*/
 }

 .carousel-item img {
    width: 100%; /*As imagens ocupam toda a largura do item*/
    display: block; /*Garante que não haja espaçamento abaixo das imagens*/
    transition: 0.9s;
 }



 .section-02 .div-hp {
    text-align: center;
 }

.section-02 h2 {
    font-size: 1.8rem;
    color: white;
}

.section-02 p {
    color: white;
    font-size: 0.8em;
}



 
/* Estilazamos nossa terceira sessão */
.section03 {
    padding: 150px;
    background-color: black;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

.section03 h3 {
    font-size: 1.4em;
    color: white;
}

.section03 span {
    color: white;
}

.section03 p {
    font-size: 1em;
    margin-top: 20px;
    color: white;
}


.section03 button {
    height: 40px;
    width: 10rem;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: purple;
    margin-top: 10px;
}

.section03 button a {
    color: white;
}




#section-03 .div04 img {
    width: 350px;
    height: 550px;
 }






 /* Estamos começando a estilização do nosso rodapé */
footer {
    padding: 150px;
    background: linear-gradient(180deg,  rgb(3, 3, 3) 8.33%, rgb(0, 0, 0) 100%);
}
 footer .text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
 }

 footer h1 {
    font-size: 1.4em;
    color: white;
 }

 footer span {
    font-size: 0.8em;
    color: white;
 }


footer .inputs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    flex-wrap: wrap;
} 


footer button {
    height: 30px;
    width: 5rem;
    font-size: 15px;
    border-radius: 4px;
    color: black;
    background-color: white;
    margin-top: 10px;
}

footer .div-fim {
    display: flex; /*Tornando flex meus conteúdo*/
    align-items: center;
    justify-content: space-between;
}

.div-fim p {
    font-size: 1rem;
    color: white;
}
 

footer i {
  color: purple;
  font-size: 1.5em;
  margin: 30px;
 
}

footer i:hover {
    color: white;
    transition: 1s;
}